/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.container {
	margin: 0 auto;
	width: 66.5%;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	/* border:3px solid red; */
}

header {
	background-color: dodgerblue;
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 1000;
	height: 55px;
	display: flex;
	justify-content: center;
}

#navbar {
	width: 75%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}


#navbar a:link {
	position: relative;
	top: 30%;
	text-decoration: none;
	color: black;
}

#navbar a:hover {
	color: gold;
}

.logo {
	position: relative;
	top: -5px;
}

.header {
	/* border:3px solid red; */
	width: 100%;
	padding-top: 5%;
	padding-left: 15%;
	margin: 100px 0px;
	display: flex;
	justify-content: row;
}

.header .header-title {
	width: 45%;
	padding: 50px;
}

.header .header-title h1 {
	font-size: 75px;
	text-align: center;
}

.header .header-title p {
	text-align: center;
	padding: 5px 45px;
	border: 1px solid slategrey;
}

.header .header-title a {
	color: black;
}

.header .header-title a:link {
	text-decoration: none;
}

.header .header-title p:hover {
	background-color: gold;
}

div .header-img {
	width: 45%;
}

div .header-img img {
	height: :300px;
	width: 300px;
}

.border {
	/* border:3px solid red; */
	width: 100%;
	height: 3px;
	background: black;
}

#content {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#content .features {
	width: 49%;
	padding-right: 20px;
	/* border:3px solid red; */
}

#content .about {
	width: 49%;
	padding-right: 20px;
	/* border:3px solid red; */
}

#content .middle-img {
	width: 100%;
}

div .middle-img {
	margin: 30px 0px;
}

div .middle-img img {
	width: 100%;
}

#content .services {
	width: 33%;
	padding-right: 10px;
	/* border:3px solid red; */
}

#content .product {
	width: 33%;
	padding-right: 10px;
	/* border:3px solid red; */
}

#content .vision {
	width: 33%;
	padding-right: 10px;
	/* border:3px solid red; */
}

.contact {
	margin-bottom: 50px;
	text-align: center;
}

footer {
	margin-top: 100px;
	margin-bottom: 100px;
	display: flex;
	align-content: flex-end;
}

/* Services Page */

.services-header-img {
	width: 100%;
	margin-top: 30px;
}

.header-title {
	margin: 25px 0px;
}

.header-title h1 {
	font-size: 30px;
}

.header-title p {
	font-size: 20px;
}

section#available-services {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

article.digital-design,
.ux-ui,
.digital-marketing,
.web-development,
.ios-development,
.android-development {
	width: 48%;
	border: 1px solid black;
	margin: 15px 0px;
	padding: 25px;
	background-color: lightgrey;
}

article.digital-design,
.ux-ui,
.digital-marketing,
.web-development,
.ios-development,
.android-development,
p {
	margin-bottom: 25px;
}

section#bottom-half {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin-top: 25px;
}

article#facts {
	width: 48%;
}

article#facts li {
	list-style-type: square;
	margin-bottom: 20px;
	margin-left: 20px;
}

div.facts-img {
	width: 48%;
}

button {
	background: white;
	font-size: 12px;
	border-radius: 5px;
	padding: 10px;
	width: 150px;
	border: 1px solid black;
}

@media screen and (max-width: 380px) {
	.container{
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:100%;
	}
	header{
	flex-direction: column-reverse;
	justify-content: center;
	height: 135px;
	}
	#navbar{
	flex-direction: column-reverse;
	flex-wrap: nowrap;
	align-items: center;
	width: 100%;
	}
	#navbar a:link{
	font-size: 15px;
	margin-bottom:5px;
	color:slategray;
	}
	.logo{
	display: flex;
	flex-direction: column;
	align-items: center;
	top:-15px;
	margin-top: 20px;
	}
	.logo a{
		height:25px;
	}
	.logo img{
	height: 25px;
	}
	.header{
	margin-top:250px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-left:0px;
	}
	.header-img{
	display: flex;
	align-items: center;
	flex-direction: column;
	}
	.border{
	width:60%;
	}
	#content{
	flex-direction: column;
	align-items: center;
	}
	#content h2{
	font-size: 30px;
	text-align: center;
	}
	article p{
	font-size: 16px;
	}
	#content .middle-img{
	display: flex;
	flex-direction: column;
	align-items: center;
	width:75%;
	}
	.contact h2{
	font-size:30px;
	}
	/* Services Page */
	.services-header-img{
	margin-top:75px;
	}
	.header-title{
	display: flex;
	flex-direction: column;
	align-items: center;
	}
	.header-title p{
	padding:0px 50px;
	}
	section#available-services{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	}
	article.digital-design,
	.ux-ui,
	.digital-marketing,
	.web-development,
	.ios-development,
	.android-development {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 95%;
	}
	article.digital-design,
	.ux-ui,
	.digital-marketing,
	.web-development,
	.ios-development,
	.android-development h2 {
	font-size: 45px;
	}
	button {
	font-size: 25px;
	}
	section#bottom-half,
	article#facts,
	div.facts-img{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap:nowrap;
	}
	article#facts{
	width:100%;
	}
	article#facts h2{
	text-align: center;
	font-size:35px;
	}
	article#facts p{
	font-size:20px;
	padding:0px 50px
	}
	div.facts-img{
	margin-top:30px;
	width:100%;
	}
	.facts-img img{
	width:95%;
	}
	section.contact{
	display:flex;
	flex-direction: column;
	align-items: center;
	width:100%;
	}
	section.contact p{
	font-size:12px;
	}
	footer{
		margin-bottom:0px;
	}	  
}
